@media (min-width: 350px) {
  * {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }

  .title {
    font-size: 2rem;
    background-color: black;
    color: white;
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
}
