:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --title-bg-color: #e0ed32;
  --grid-line-color: #000000;
  --grid-container-background-color: hsl(0, 0%, 85%);
  --border-color: #c40e02;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ole", cursive;
  box-sizing: border-box;
}

@media (min-width: 375px) {
  .title {
    text-align: center;
    color: var(--title-bg-color);
    font-size: 2.5rem;
    line-height: 3rem;
    background-color: var(--border-color);
  }

  .container {
    display: grid;
    border-top: 30px solid var(--border-color);
    border-right: 50px solid var(--border-color);
    border-left: 50px solid var(--border-color);
    background-color: var(--grid-container-background-color);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    aspect-ratio: 1/1;
  }

  .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--border-color);
    padding: 2em;
    gap: 1em;
  }

  .resetgrid,
  .colorpicker {
    background-color: var(--grid-container-background-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .rainbow-mode-button,
  .erase-button {
    color: var(--title-bg-color);
    padding: 0.25em;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .erase-button:hover {
    background-color: var(--grid-line-color);
  }

  .rainbow-mode-button:hover {
    background-color: var(--grid-line-color);
  }
}
